html,
body {
  font-family:
  'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.hello-section {
  min-height: calc(100vh - 7.5em);
  scroll-margin-top: 7.5em;
  scroll-snap-align: start;
}

section {
  min-height: calc(70vh - 7.5em);
  scroll-margin-top: 7.5em;
  scroll-snap-align: start;
}

.image-container{
  float: left;
  display: flex;
  align-content: center;
  align-items: center;
}

.intro-text {
  font-size: 14px;
  font-weight: normal;
  align-content: center;
}

.fig-caption {
  font-size: 8px;
  text-align: center;
}

.fade-in { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hello-caption {
  margin-left: 55px;
  margin-top: 280px;
  font-size: x-small;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
