html,
body {
  font-family:
  'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.hello-section {
  min-height: calc(100vh - 7.5em);
  scroll-margin-top: 7.5em;
  scroll-snap-align: start;
}

section {
  min-height: calc(70vh - 7.5em);
  scroll-margin-top: 7.5em;
  scroll-snap-align: start;
}

.intro{
  float: left;
  display: flex;
}

.intro-text {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: normal;
  align-content: center;
}

.fade-in { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
